#btnButton {    
    border-radius: 2px;
    width:98vw;
    height: 30vw;   
    background-color: rgb(190, 29, 50);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10vw; 
    margin: 4px 2px;
    cursor: pointer;
  }
  
  h1 {
    text-transform: uppercase;
    color:  rgb(194, 65, 65);
  }
  
  #lblKalenderspruch {
    text-transform: uppercase;
    color: #4CAF50;
    font-size: 10vw; 
  }
  
  #btnAnlegen:hover {
    border-radius: 2px;
  }
  
  #tbxEintrag{
    width:98vw;
    height: 30vw; 
    font-size:10vw;
    color:rgb(190, 29, 50)
  }
  